In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([
    ['Cola', 'S'],
    ['Cola', 'M'],
    ['Green Tea', 'L'],
    ['Milk', 'M'],
], columns=['drink', 'size'])
df.head()

       drink size
0       Cola    S
1       Cola    M
2  Green Tea    L
3       Milk    M

In [2]:
size2int = {'S': 0, 'M': 1, 'L': 2}
df['size'] = df['size'].map(size2int)
df.head()

       drink  size
0       Cola     0
1       Cola     1
2  Green Tea     2
3       Milk     1

In [3]:
df['size'].unique()

array([0, 1, 2], dtype=int64)

In [3]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['drinkLable'] =  encoder.fit_transform(df['drink'])
df.head()

       drink size  drinkLable
0       Cola    S           0
1       Cola    M           0
2  Green Tea    L           1
3       Milk    M           2

In [4]:
pd.get_dummies(df)

   drinkLable  drink_Cola  drink_Green Tea  drink_Milk  size_L  size_M  size_S
0           0           1                0           0       0       0       1
1           0           1                0           0       0       1       0
2           1           0                1           0       1       0       0
3           2           0                0           1       0       1       0

In [5]:
df = pd.DataFrame([
    [7.2500,],
    [71.2833,],
    [7.9250,],
    [53.1000,],
], columns=['Fare',])
df['Fare']

0     7.2500
1    71.2833
2     7.9250
3    53.1000
Name: Fare, dtype: float64

In [6]:
df['Fare'] > 10

0    False
1     True
2    False
3     True
Name: Fare, dtype: bool

In [7]:
(df['Fare'] > 10).astype(int)

0    0
1    1
2    0
3    1
Name: Fare, dtype: int32

In [9]:
df['FareInt'] = df['Fare'].round().astype(int)
df[['Fare', 'FareInt']].head()

      Fare  FareInt
0   7.2500        7
1  71.2833       71
2   7.9250        8
3  53.1000       53

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(binary=True)
docs = ['the cat is out of the bag', 'dogs are']
bow = vectorizer.fit_transform(docs)
bow.toarray()

array([[0, 1, 1, 0, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 0, 0, 0]], dtype=int64)

In [12]:
vectorizer.vocabulary_

{&#39;the&#39;: 7, &#39;cat&#39;: 2, &#39;is&#39;: 4, &#39;out&#39;: 6, &#39;of&#39;: 5, &#39;bag&#39;: 1, &#39;dogs&#39;: 3, &#39;are&#39;: 0}

In [13]:
vectorizer = CountVectorizer()
docs = ['the cat is out of the bag', 'dogs are']
bow = vectorizer.fit_transform(docs)
bow.toarray()

array([[0, 1, 1, 0, 1, 1, 1, 2],
       [1, 0, 0, 1, 0, 0, 0, 0]], dtype=int64)

In [15]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
docs = ['the cat is out of the bag', 'the dogs are']
tfidf = vectorizer.fit_transform(docs)
vocab = vectorizer.get_feature_names()
pd.DataFrame(tfidf.toarray(), columns=vocab).round(2)

    are   bag   cat  dogs    is    of   out   the
0  0.00  0.38  0.38  0.00  0.38  0.38  0.38  0.54
1  0.63  0.00  0.00  0.63  0.00  0.00  0.00  0.45

- p97から
- janomeのインストールから

In [8]:
from janome.tokenizer import Tokenizer
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
t = Tokenizer(wakati=True)
vectorizer = CountVectorizer(tokenizer=t.tokenize)
docs = ['猫の子子猫', '獅子の子子獅子']
bow = vectorizer.fit_transform(docs)
vocab = vectorizer.get_feature_names()
pd.DataFrame(bow.toarray(), columns=vocab)

   の  子  子猫  猫  獅子
0  1  1   1  1   0
1  1  2   0  0   2

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(ngram_range=(2, 2))
docs = ['the cat is out of the bag', 'docs are']
bow = vectorizer.fit_transform(docs)
vectorizer.vocabulary_

{&#39;the cat&#39;: 6,
 &#39;cat is&#39;: 0,
 &#39;is out&#39;: 2,
 &#39;out of&#39;: 4,
 &#39;of the&#39;: 3,
 &#39;the bag&#39;: 5,
 &#39;docs are&#39;: 1}